* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: 1920px) {
  body, html {
    width: 100%;
    min-width: 1024px
  }
}

@media screen and (max-width: 1600px) {
  body, html {
    width: 100%;
    min-width: 1024px
  }
}

@media screen and (max-width: 1440px) {
  body, html {
    width: 100%;
    min-width: 1024px
  }
}

@media screen and (max-width: 1366px) {
  body, html {
    width: 100%;
    min-width: 1024px
  }
}

@media only screen and (max-width: 1280px) {
  body, html {
    width: 100%;
    min-width: 1024px;
  }
}

@media only screen and (max-width: 500px) {
  body, html {
    width: 100%;
    min-width: 320px
  }
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #31a5e7;
}
